@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

section {
    margin-bottom: 7.5rem;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    color: #3C3C3C;
}

section {
    padding: 0 2rem;
}

.btn {
    background-color: #5580E9;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    border: solid 2px #5580E9;
    font-weight: bold;
    text-align: center;
    font-size: inherit;
    
    transition: 0.1s ease all;
}
.btn:hover {
    background-color: transparent;
    color: #5580E9;
}