.container {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    height: 15vh;
    gap: 20rem;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.company > h1 {
    font-size: 24px;
}

.navlinks {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between !important;
}
.navlinks a:not(.donateButton) {
    transition: 0.1s ease all;
}
.navlinks a:hover:not(.donateButton) {
    color: #5580E9;
    transform: scale(1.05);
}


.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 5px;

    display: none;
}

.hamburger div {
    width: 35px;
    height: 3px;
    background-color: #000;
    transition: 0.3s ease all;
}

.hamburger:hover div {
    background-color: #5580E9;
    width: 45px;
}

@media screen and (max-width: 1180px) {
    .container {
        gap: 10rem;
    }
    
}
@media screen and (max-width: 960px) {
    .container {
        padding: 1rem;
        gap: 0rem;
    }
    .navlinks {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 760px) {
    .company > h1 {
        font-size: 18px;
    }
}

